html,body {height:100%;}
body {font-family:Verdana, Tahoma, sans-serif; font-size:11px; line-height:18px; font-weight:normal; background:#fff; text-align:left; color:#333; margin:0; padding:0;}
img,form {border:none; margin:0; padding:0;}
a {color:#0080C0; text-decoration:none;}
h1,h2,h3,h4,h5,h6 {font-size:14px; padding:0; margin:0 0 20px 0;}
h1 img,h2 img {vertical-align:middle; margin:0 10px 0 0;}
select {width:auto;}
select,input,textarena {border:1px solid #666; padding:1px; margin:3px; font-size:11px; font-family:Verdana, Tahoma, sans-serif;}
input[type="button"],input[type="submit"],input[type="reset"] {width:auto; overflow:visible; padding:5px 8px; cursor:pointer; background:#0080C0; color:#fff; font-weight:bold; border-right:1px solid #003853; border-bottom:1px solid #003853; border-left:1px solid #1AB5FF; border-top:1px solid #1AB5FF; margin:10px 5px 5px 0; *position:relative; *top:6px;}
input[type="text"],input[type="password"] {width:300px;}

input.red {border-right:1px solid #a00; border-bottom:1px solid #a00; border-left:1px solid #FF7575; border-top:1px solid #FF7575; background:#f00; padding:1px 8px; *position:relative; *top:3px;}
input.red2 {border-right:1px solid #a00; border-bottom:1px solid #a00; border-left:1px solid #FF7575; border-top:1px solid #FF7575; background:#f00; padding:5px 8px; *position:relative; *top:3px;}

input#href_readonly {background:#ccc;}

a.add {width:auto; padding:5px 8px; background:#f00; color:#fff; font-weight:bold; border-right:1px solid #a00; border-bottom:1px solid #a00; border-left:1px solid #FF7575; border-top:1px solid #FF7575; margin:10px 5px 5px 0; display:inline-block; *position:relative; *top:6px;}

a.add2 {width:auto; padding:5px 8px; background:#5A9D53; color:#fff; font-weight:bold; border-right:1px solid #257025; border-bottom:1px solid #257025; border-left:1px solid #7ED37E; border-top:1px solid #7ED37E; margin:10px 5px 5px 0; display:inline-block; *position:relative; *top:6px;}

a.add3 {width:auto; padding:5px 8px; background:#73C160; color:#fff; font-weight:bold; border-right:1px solid #53A240; border-bottom:1px solid #53A240; border-left:1px solid #BCE9BC; border-top:1px solid #BCE9BC; margin:10px 5px 5px 0; display:inline-block; *position:relative; *top:6px;}

a.preview,a.deactive,a.active,a.edit,a.delete,a.install,a.password,a.access {display:inline-block; width:30px; height:30px; margin:0 5px; vertical-align:top;}
a.preview {background:url(../images/icon_preview.png) no-repeat center center;}
a.deactive {background:url(../images/icon_deactive.png) no-repeat center center;}
a.active {background:url(../images/icon_active.png) no-repeat center center;}
a.edit {background:url(../images/icon_edit.png) no-repeat center center;}
a.delete {background:url(../images/icon_delete.png) no-repeat center center;}
a.install {background:url(../images/icon_install.png) no-repeat center center;}
a.password {background:url(../images/icon_password.png) no-repeat center center;}
a.access {background:url(../images/icon_access.png) no-repeat center center;}


/*wrap & header & menu*/
#wrap {display:block; overflow:hidden; position:relative; height:auto !important; min-height:100%; height:100%;}

#header {display:block; overflow:hidden; height:70px; padding:0 10px; background:#444; border-bottom:1px solid #fff;}
#header #naglowek {color:#fff; font-size:16px; font-weight:bold; float:left; line-height:24px; margin:10px 0 0 0;}
#header #naglowek span {font-size:12px; font-weight:normal;}
#header #user {color:#fff; font-size:12px; float:right; line-height:24px; margin:10px 0 0 0; text-align:right;}
#header #user span {color:#F47A00; font-weight:bold;}
#header #user a {color:#fff;}
#header #user small {color:#aaa;}

#menu {overflow:hidden; clear:both; display:block; background:#ddd; border-bottom:1px solid #999; font-size:11px; padding:10px;}
#menu a {color:#000; background:#fff; height:26px; line-height:26px; padding:0 10px; margin:0 10px 10px 0; float:left; border:1px solid #bbb;}
#menu a:hover {background:#eee;}
#menu a.activemenu {color:#fff; background:#0080C0; border:1px solid #fff;}

#submenu {overflow:hidden; clear:both; display:block; background:#fff; border-bottom:1px solid #999; font-size:11px; padding:10px;}
#submenu a {padding:0 0 0 10px; margin:0 20px 0 0; float:left; background:url(../images/bg_arrow_submenu.png) no-repeat 0 6px; color:#333;}
#submenu a:hover {color:#333;}
#submenu a.activemenu {color:#0080C0; text-decoration:none; background:url(../images/bg_arrow_submenu.png) no-repeat 0 -14px;}


/*maintab*/
#maintab #podzial {border:none;}
#maintab #podzial td#td_left {border:none; background:#fff; border-right:2px solid #ddd; vertical-align:top; width:240px; padding:0 15px 0 0;}
#maintab #podzial td#td_right {border:none; background:#fff; vertical-align:top; width:auto; padding:0 0 0 15px;}
#maintab  #path {display:block; overflow:hidden; margin:0 0 20px 0; padding:10px; background:#eee; color:#555;}
#maintab  #path a {color:#0080C0; font-weight:normal;}

#maintab {overflow:hidden; clear:both; display:block; padding:20px 10px; position:relative; min-height:350px; height:auto !important; height:350px;}
#tab-zlecenie {width:100%;}
#maintab table {width:100%; border-top:1px solid #888; border-left:1px solid #888; line-height:15px; border-collapse: collapse;}
#maintab table thead td.toright,#maintab table tbody td.toright {text-align:right;}
#maintab table thead td.tocenter,#maintab table tbody td.tocenter {text-align:center;}
#maintab table thead {text-transform:uppercase;}
#maintab table thead td,#maintab #podzial table thead td {background:#888; color:#fff; font-weight:bold; padding:8px; border-right:1px solid #fff; vertical-align:middle;}
#maintab table thead td a {color:#CCEEFF; text-decoration:underline;}
#maintab table tbody tr {background:#e9e9e9;}
#maintab table tbody tr.alt {background:#fff;}
#maintab table tbody tr td {padding:8px; border-bottom:1px solid #888; border-right:1px solid #888;}
#maintab table tbody tr td a {font-weight:bold;}

#maintab table td table#contents_tbl,#maintab table td table#description_tbl {border:1px solid #ccc;}
#maintab table td table#contents_tbl table,#maintab table td table#description_tbl table {border:none; width:auto;}
#maintab table td table#contents_tbl tbody tr td,#maintab table td table#description_tbl tbody tr td {padding:0; border:none; background:#eee; color:#333; font-weight:normal;}
#maintab table td table#contents_tbl tbody tr td a,#maintab table td table#description_tbl tbody tr td a {font-weight:normal;}


.green {font-weight:bold; color:green;}
.red {font-weight:bold; color:red;}

#maintab table#normal {width:auto; border-top:1px solid #aaa; border-left:1px solid #aaa; line-height:15px;}
#maintab table#normal tbody tr {background:#f5f5f5;}
#maintab table#normal tr td {padding:8px; border-right:1px solid #aaa; border-bottom:1px solid #aaa;}
.label_gallery label {display:inline-block; width:160px;}
.thumbs_photo {height:80px; width:100px;}
.thumbs_photo img {width:80px; border:none;}

.message,.errorBox {display:block; text-align:center; font-weight:bold; color:#f00; border:1px solid #f00; padding:10px; background:#f5f5f5;}

#maintab #div_photos {display:block; overflow:hidden; padding:20px; background:#E1EFDA; margin:40px 0; border:1px solid #71B450;}
#maintab #div_photos table tbody tr {background:#fff;}
i#maintab #div_photos input[type="button"],#maintab #div_photos input[type="submit"],#maintab #div_photos input[type="reset"] {background:#71B450; border-right:1px solid #4A7A34; border-bottom:1px solid #4A7A34; border-left:1px solid #A6D091; border-top:1px solid #A6D091;}

#maintab #div_pdf {display:block; overflow:hidden; padding:20px; background:#F5DCDC; margin:40px 0; border:1px solid #D62929;}
#maintab #div_pdf table tbody tr {background:#fff;}
i#maintab #div_pdf input[type="button"],#maintab #div_pdf input[type="submit"],#maintab #div_pdf input[type="reset"] {background:#D62929; border-right:1px solid #8E1C1C; border-bottom:1px solid #8E1C1C; border-left:1px solid #E98F8F; border-top:1px solid #E98F8F;}

#maintab #div_doc {display:block; overflow:hidden; padding:20px; background:#DAE4F1; margin:40px 0; border:1px solid #4D83BF;}
#maintab #div_doc table tbody tr {background:#fff;}
i#maintab #div_doc input[type="button"],#maintab #div_doc input[type="submit"],#maintab #div_doc input[type="reset"] {background:#4D83BF; border-right:1px solid #254465; border-bottom:1px solid #254465; border-left:1px solid #A8C2DF; border-top:1px solid #A8C2DF;}


/*footer*/
#footer {overflow:hidden; display:block; padding:0 10px; height:50px; line-height:50px; text-align:right; margin:30px 0 0 0; color:#ccc; background:#444;}
#footer span a {color:#ccc; font-weight:bold;}
#footer a.vipo {float:left; margin:7px 0 0 0;}
#footer a.vipo img {border:none;}

