<!-- jQuery (required) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="templates/default/js/anythingslider/js/jquery.min.js"><\/script>')</script>
	
	<!-- Anything Slider -->
	<link rel="stylesheet" href="templates/default/js/anythingslider/css/anythingslider.css">
	<script src="templates/default/js/anythingslider/js/jquery.anythingslider.js"></script>

	<!-- AnythingSlider initialization -->
	<script>
		// DOM Ready
		$(function(){
			$('#slider').anythingSlider();
		});
	</script>

	<!-- Older IE stylesheet, to reposition navigation arrows, added AFTER the theme stylesheet -->
	<!--[if lte IE 7]>
	<link rel="stylesheet" href="templates/default/js/anythingslider/css/anythingslider-ie.css" type="text/css" media="screen" />
	<![endif]-->