/*default*/
body,form {margin:0; padding:0;}
input,textarea {font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:12px; color:#888787; margin:0; padding:0; border:1px solid #aaa;}
body {text-align:center; font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:12px; color:#58646f; line-height:20px; background:url(../img/bg.jpg) no-repeat top center;}
h1,h2 {font-size:14px; padding:0 0 5px 0; margin:0 0 15px 0; color:#333;}
h3 {font-size:12px; padding:0 0 5px 0; margin:0 0 5px 0;}
h3 img {vertical-align:middle; margin:0 10px 0 0;}
p {margin:0 0 15px 0; padding:0;}
a {text-decoration:none; color:#36c;}
a:hover {text-decoration:none; color:#000;}
a.more {float:right; line-height:24px; background:url(../img/bg_more.png) no-repeat bottom right; padding:0 10px 5px 10px; font-size:11px;}
a.more2 {float:right; width:89px; height:25px; line-height:24px; text-align:center; background:url(../img/bg_more2.png) no-repeat; color:#fff; font-size:11px;}
a.preview {display:inline-block; width:30px; height:30px; margin:0 5px; vertical-align:top; background:url(../img/icon_preview.png) no-repeat center center;}

ul li {list-style-type:square;}

/*wrap*/
#wrap {position:relative; margin:0 auto; width:950px; overflow:hidden; text-align:justify;}


/*header*/
#header {display:block; height:290px;}
#logo {float:left; width:321px; height:114px; background:url(../img/logo.png) no-repeat; margin:80px 0 48px 0;}
#menu {clear:both; display:block; height:48px; line-height:48px; margin:0 0 0 40px;}
#menu .nav,#menu .nav ul {list-style:none; margin:0; padding:0;}
#menu .nav {z-index:100; position:relative;}
#menu .nav li {margin:0; padding:0; position:relative; display:inline;}
#menu .nav li a {display:inline-block; width:100px; height:48px; color:#fff; text-align:center; font-weight:bold; font-size:11px;}
#menu .nav li a:hover {color:#aaeaff;}
#menu .nav li a.mark {color:#ff0;}
#menu .nav ul {list-style:none; margin:0; padding:0; width:264px; position: absolute; top: -1000px; left:0; text-align:left; height:1%; _top:0;}
#menu .nav li:hover ul,#menu .nav li.sfHover ul {top:30px; top /*\**/: 17px\9 ; *top:47px;}
#menu .nav ul li {border:0;}
#menu .nav ul a {width:230px; display:inline-block; height:auto; color:#fff; text-align:left; line-height:20px; border-bottom:1px solid #fff; padding:2px 10px; background:#5D90C5;}
#menu .nav ul a:hover {color:#fff; background:#000;}
#menu .nav ul a.mark {color:#fff; background:#000;}



/*left*/
#left {float:left; width:655px; overflow:hidden; margin:20px 0 30px 0;}

#left #taxi{
    position: relative;
    top:50px;
    margin: 0 0 20px 0;

}

#left #taxi img{
    display: block;
}

#contact {display:block; overflow:hidden; height:235px; padding:30px 10px 0 20px; margin:0 0 30px 0; background:url(../img/bg_contact.jpg) no-repeat; color:#333; font-size:11px;}
#contact .nag {font-weight:bold;}
#contact div {display:block; overflow:hidden; padding:5px 0 0 20px;}
#contact div table {width:100%;}
#contact a.more2 {margin:5px 0 0 0;}
#bannersright {display:block; overflow:hidden; text-align:center;}
#bannersright img {border:none; margin:0 5px;}

#banner_left {display:block; clear:both; overflow:hidden; text-align:center; margin:30px 0 0 0;}
#banner_left div {float:left; width:50%; overflow:hidden;}
#banner_left div img {border:none;}

#sortuj {display:block; overflow:hidden; padding:5px; background:#86ABD0;}
#sortuj select {float:left; width:150px; margin:0 5px 0 0; border:1px solid #ccc; padding:1px;}
#sortuj input {float:right; margin:0 0 0 5px; width:150px; border:1px solid #ccc; padding:4px;}
#sortuj input.submit {width:89px; padding:5px 0; background:url(../img/bg_more2.png) no-repeat; color:#fff; font-weight:bold; border:none; cursor:pointer; margin:-1px 0 0 5px;}


.akt {display:block; overflow:hidden; margin:0 0 10px 0; padding:5px 0 0 0; border-top:1px solid #86ABD0;}
.akt img {border:1px solid #ccc; padding:1px; margin:5px 10px 0 0; float:left;}
.akt2 {display:block; overflow:hidden; margin:0 0 10px 0; padding:5px 0 0 0; height:200px; border-top:1px solid #86ABD0; position:relative;}
.akt2 img {border:1px solid #ccc; padding:1px; margin:5px 10px 0 0; float:left;}
.akt2 a.more2 {position:absolute; bottom:0; right:0;}

.terminy {float:left; background:#f5f5f5; width:280px; padding:10px; margin:0 20px 10px 0; border:1px solid #ccc;}
.rezerwacja {width:15px; height:15px; float:left; background:#f00; margin:5px 5px 0 0;}

/*gallery*/
.gallery {width:100%;}
.gallery td {text-align:center; vertical-align:middle; padding:10px 0; width:33%;}
.gallery td img {border:1px solid #86ABD0;}

.upload01 {clear:both; display:block; overflow:hidden; margin:20px 0; padding:10px; background:#f9f9f9; border:1px solid #ccc;}
.upload01 div {width:33%; float:left; overflow:hidden; height:120px; text-align:center; margin:10px 0;}
.upload01 div img {border:1px solid #86ABD0; padding:1px;}
.upload02 {clear:both; display:block; overflow:hidden; margin:20px 0; padding:10px; background:#f9f9f9; border:1px solid #ccc;}
.upload02 table {width:100%;}
.upload02 table tr:hover td {background:#f4f4f4;}
.upload02 table td,.upload02 table th {vertical-align:middle; border-bottom:1px solid #ccc; padding:3px;}
.upload02 table .toright {text-align:right; width:120px;}
.upload03 {clear:both; display:block; overflow:hidden; margin:20px 0; padding:10px; background:#f9f9f9; border:1px solid #ccc;}
.upload03 table {width:100%;}
.upload03 table tr:hover td {background:#f4f4f4;}
.upload03 table td,.upload03 table th {vertical-align:middle; border-bottom:1px solid #ccc; padding:3px;}
.upload03 table .toright {text-align:right; width:120px;}

/*pages nav*/
.pages-nav {clear:both; text-align:center; display:block; overflow:hidden; border-top:1px solid #ccc; padding:5px;}
.pages-nav a {display:inline-block; margin:0 1px; padding:0 10px; height:28px; line-height:28px; background:#ccc; color:#fff; text-align:center;}
.pages-nav span {display:inline-block; margin:0 1px; padding:0 10px; height:28px; line-height:28px; background:#3F71A3; color:#fff;}
.pages-nav span.noactive {opacity:.30; filter:alpha(opacity=30); -moz-opacity: 0.3;}
.pages-nav a:hover {background:#555; color:#fff;}

.table_user {width:100%; margin:20px 0; border-top:1px solid #ccc; border-left:1px solid #ccc;}
.table_user td,.table_user th {border-bottom:1px solid #ccc; border-right:1px solid #ccc; text-align:center; padding:5px;}
.table_user th a {color:#ff8000;}
.table_user th a img {border:none;}
.table_user .toleft {text-align:left;}

.form {margin:20px 0; width:100%; background:#f5f5f5; border:1px solid #eee;}
.form td {padding:6px 15px;}
.form td input,.form td select,.form td textarea {border:1px solid #ccc; width:250px; padding:2px;}
.form td input.send {float:left; width:89px; padding:5px 0; text-align:center; background:url(../img/bg_more2.png) no-repeat; color:#fff; font-size:11px; border:none; cursor:pointer; margin:0 10px 0 0;}

/*right*/
#right {float:right; width:275px; overflow:hidden; margin:20px 0 30px 0;}

/*footer*/
#bottom {margin:10px 0 30px 0; display:block; overflow:hidden; height:170px;}
#bottom div {width:237px; text-align:center; float:left; height:170px; font-weight:bold; color:#76a0c8;}
#bottom div img {margin:10px 0 0 0;}


/*footer*/
#footer {display:block; overflow:hidden; height:120px; background:url(../img/bg_footer.jpg) no-repeat top center;}
#footer #in {margin:0 auto; width:950px; overflow:hidden; height:120px; text-align:right; font-size:11px;}
#menu2 {float:right; overflow:hidden; margin:20px 0 5px 0; padding:0 0 10px 0; border-bottom:1px solid #86ABD0; text-align:right;}
#menu2 a {color:#fff; margin:0 0 0 30px;}
#menu2 a:hover {color:#eee;}
#menu2 a.mark {color:#ff0;}
#footer #in span {color:#b4d3f2;}
#footer #in span a {color:#b4d3f2;}