@CHARSET "UTF-8";

/* "Global" settings for the calendar table */
#maintab table tbody tr td table.greyCalendar {
  font-size: 11px;
}
#left table.greyCalendar {
  font-size: 10px; width:100%;
}



/* "Global" settings for all table cells in the calendar table */
#maintab table tbody tr td table.greyCalendar th, #maintab table tbody tr td table.greyCalendar td {
  border: 1px solid #aaa;
  padding:0;
  width:32px;
  height:32px;
  text-align:center;
  font-weight:normal;

}
#left table.greyCalendar th,#left table.greyCalendar td {
  border: 1px solid #aaa;
  padding:0;
  width:14%;
  height:22px;
  text-align:center;
  font-weight:normal;

}




#maintab table tbody tr td table.greyCalendar select {
	width:100px;
	font-size: 10px;
}

#left table.greyCalendar select {
	width:100px;
	font-size: 10px;
}



/* Settings for cells in the body of the calendar (i.e., the days) */
table.greyCalendar tbody td {
  vertical-align: middle;
}

/* Formatting of the events when they appear in a day cell */
table.greyCalendar td div.events {
  font-size: 9px;
  line-height: 10px;
}

table.greyCalendar td.dayHasEvent div.events a:active, table.greyCalendar td.dayHasEvent div.events a:focus {
  outline: 0; /* remove the dotted border from the active link */

}

/* Formatting of the year/month banner */
table.greyCalendar thead th {
  background-color: #aaa;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
  font-size: 10px;
}

/* Formatting of the weekday names */
table.greyCalendar tbody th {
  background-color: #ccc;
  font-size: 8px;
  font-weight: bold;  
  margin: 3px;
}

/* Formatting of the footer cells (with links to other months) */
table.greyCalendar tfoot th {
  background-color: #a9a9a9;
  border: none;
  border-top: 1px solid #ccc;
  font-size: 10px;
}

table.greyCalendar tfoot th a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 70px;
  height:32px;
  line-height:32px;

}

#left table.greyCalendar tfoot th a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 100%;
  height:22px;
  line-height:22px;

}


table.greyCalendar tfoot th a:visited {
  color: white;
}

table.greyCalendar tfoot th a:hover {
  color: #333;
  background-color: #d3d3d3;
}

/* Formatting of the day cells */
table.greyCalendar td {
  background-color: #ffffff;
}

table.greyCalendar td.dayBlank {
  background-color: #eee;
}

table.greyCalendar td.dayToday {
  background-color: #dcdcdc;
  border: 3px solid #000000;
}

table.greyCalendar td.daySpecial{
background-color: #eee;
}


/* Formatting of the date that appears in each calendar day cell */
table.greyCalendar td div.date {
  padding: 0;
  margin: 0;
  width:34px;
  height:32px;
  line-height:32px;
  text-align:center;
}
#left table.greyCalendar td div.date {
  padding: 0;
  margin: 0;
  width: 100%;
  height:22px;
  line-height:22px;
  text-align:center;
}



table.greyCalendar td div.date a {
  width:34px;
  height:32px;
  line-height:32px;
  display: block;
  background:#C4ECFF;
}
#left table.greyCalendar td div.date a {
  width: 100%;
  height:22px;
  line-height:22px;
  display: block;
  background:#C4ECFF;
}



table.greyCalendar td.dayToday div.date {
  color: #fff;
  font-weight: bold;
  background:#ff8000;
  
}

table.greyCalendar td.dayHasEvent div.date {
  color: #f00;
  font-weight: bold;
}

table.greyCalendar td.dayHasEvent div.events a {
  color: #808080;
  text-decoration: none;
  
}

#left table.greyCalendar td.dayHasEvent div.events a {
  color: #808080;
  text-decoration: none;
  
}
#left table.greyCalendar td.dayHasEvent div.events a span {
  color: #C4ECFF; font-size:0; float:left; width:100%; height:22px; margin-top:-22px; cursor:pointer;
  
}

table.greyCalendar td.dayHasEvent div.events a:visited {
  color: #808080;
}

table.greyCalendar td.dayHasEvent div.events a:hover {
  color: #808080;
  text-decoration: underline;
}
