.dtree {font-family:Verdana, Helvetica, sans-serif; font-size:11px; color:#666; padding:0; margin:0;}
.dtree img {border:0px; vertical-align:middle;}
.dtree a {color:#333; text-decoration:none;}
.dtree a.node, .dtree a.nodeSel {padding:1px 2px 1px 2px;}
.dtree a.node:hover, .dtree a.nodeSel:hover {color:#333; text-decoration:underline;}
.dtree a.nodeSel {font-weight:bold;}
.dtree .clip {overflow:hidden;}
#maintab #podzial td#td_left .green {font-weight:bold; color:#0080C0;}
#maintab #podzial td#td_left b {font-weight:normal;}
#maintab #podzial td#td_left a.close {font-weight:normal; color:#333; width:110px; display:inline-block; text-align:center; padding:4px 0; margin:0 3px; background:#f5f5f5; border:1px solid #ddd;}
#maintab #podzial td#td_left a.close:hover {color:#000; background:#fff; border:1px solid #ddd;}
#maintab #podzial td#td_left a.close00 {font-weight:normal; color:#333; width:228px; display:inline-block; text-align:center; padding:9px 0; margin:0 3px 5px 3px; background:#f5f5f5; border:1px solid #ddd;}
#maintab #podzial td#td_left a.close00:hover {color:#000; background:#fff; border:1px solid #ddd;}
#maintab #podzial td#td_left a.close00mark {font-weight:normal; color:#fff; width:228px; display:inline-block; text-align:center; padding:9px 0; margin:0 3px 5px 3px; background:#0080C0; border:1px solid #ddd;}